@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap");

* {
    box-sizing: border-box;
}

html, body, .wrapper {
    padding: 0;
    margin: 0;
    background-color: #100f0f;
    color: #cccecc;
    font-family: "Andale Mono", monospace;
}

body {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1 1 0;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
}

button {
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    color: #cccecc;
    cursor: pointer;
}

button.not-good {
    background-color:  #d0271a;
}

button.good {
    background-color: #1974c4;
}

button.not-good:hover {
    background-color: #aa1e14;
}

button.good:hover {
    background-color: #115087;
}

input {
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 8px;
    padding: 6px;
    outline: none;
    border: none;
    font-family: "Andale Mono", monospace;
    background-color: #cccecc;
    color: #2e2e2e;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.title {
    font-size: 24pt;
}

@media (max-width: 400px) {
    .wrapper {
        margin-left: 10%;
        margin-right: 10%;
    }
}